.homePageBody {
  background-color: var(--color-white);
  overflow-y: scroll;
}

.trend-heading {
  margin-top: 10rem;
  text-align: center;
  font-size: 5rem;
  color: var(--color-primary);
  border-bottom: 2px solid var(--light-grey);
  width: 300px;
}

.brand-heading {
  margin-top: 10rem;
  text-align: center;
  font-size: 5rem;
  color: var(--color-primary);
  border-bottom: 2px solid var(--light-grey);
  width: 300px;
}

.footer-sec {
  margin-top: 10rem;
}
