.WishlistPageBody {
  height: 100%;
  overflow-y: hidden;
}
.wishlist-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 4rem;
  margin-bottom: 10rem;
  margin-left: 15rem;
}

h1 {
  margin-left: 60rem;
  margin-top: 19rem;
  color: var(--color-primary-darker);
}

.footer-sec {
  margin-top: 5rem;
  position: relative;
  bottom: 0;
}

.footer-container {
  position: relative;
  top: 200px;
}
