.productPageBody {
  background-color: var(--color-white);
  overflow-y: scroll;
}

.prod-land {
  display: grid;
  grid-template-columns: 1fr 4fr;

  margin-top: 12rem;
  height: 100%;
  column-gap: 1rem;
  margin-bottom: 5rem;
}
