.productPageBody {
  background-color: var(--color-white);
  overflow-y: scroll;
}

.prod-land {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 12rem;
  height: 100vh;
  column-gap: 1rem;
}

.footer-sectio {
  margin-top: 120rem;
}
