.checkout-page {
  height: 100%;
}

.cart-heading {
  text-align: center;
  margin-top: 20rem;
  color: var(--color-primary-darker);
}

.main-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.purchased-card {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  margin-left: 30rem;
  margin-bottom: 10rem;
}

.checkout-sec {
  display: flex;
  margin: 5rem 30rem 10rem 30rem;
  justify-content: space-between;
}

.proceedToBuyBtn {
  width: 50%;
  margin-left: 20rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--lighter-grey);
  font-weight: 800;
  border-radius: 3rem;
  border: none;
  box-shadow: 0 9px var(--dark-grey);
  margin-top: 2rem;
}

.proceedToBuyBtn:active {
  box-shadow: 0 5px var(--li-grey);
  transform: translateY(4px);
}

.proccedToBuySection {
  display: flex;
  gap: 15rem;
}

.noItemsInCart {
  text-align: center;
  margin: 15rem auto;
  font-size: 3rem;
}

.bill {
  display: flex;
  flex-direction: column;
  width: 50rem;
  border-radius: 1rem;
  border: 1px solid var(--color-black);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bill-items {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  margin-top: 1rem;
}
