.card {
  transition: 0.3s;
  background-color: var(--color-white);
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card p {
  text-align: center;
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--light-grey);
  font-family: "Caveat", cursive;
  font-weight: 900;
}

.link-container {
  display: flex;
  flex-direction: row;
}

.link-container-btn {
  width: 100px;
  height: 40px;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--lighter-grey);
  font-weight: 800;
  cursor: pointer;
}
