.check-container {
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60rem;
  max-height: 25rem;
  padding: 2rem 2rem 0 2rem;
  margin: 10rem 0 0 20rem;
}

.check-container h2 {
  border-bottom: 1px solid var(--black-border);
}

.check-container .price {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.check-container .discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.check-container .del-charges {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.check-container .total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--black-border);
  border-bottom: 1px solid var(--black-border);
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
}

.check-container button {
  background-color: var(--color-primary-darker);
  color: var(--color-white);
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 5px;
}
