.trending-section {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
}

@media (max-width: 1500px) {
  .trending-section {
    display: block;
    margin-left: 50rem;
  }
}
